@import 'tailwindcss';

.content{
    display: flex;
}

.content-navbar{
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.content-body{
    width: 80%;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}